*{
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
}

.load-btn {
  width: 50%;
  border: 1px solid #aaa;
  border-radius: 16px;
  background: #fff;
  font-size: 15px;
  padding: 6px 0px;
  margin: 18px auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.load-btn:active {
  background: #bbb;
}

.course-table-wrapper {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1124px){
  .course-table-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .load-btn {
    width: 88%;
  }
}

.button-holder {
  height: 60px;
}