@import '//at.alicdn.com/t/font_931925_jmrjp6p0q3.css';

.iconfont.icon-yonghu {
  font-size: 1.5rem;
  color: #949494;
}

.iconfont.icon-yonghu.selected {
  color: #33A3F4;
}

.iconfont.icon-school-kb-web {
  font-size: 1.5rem;
  color: #949494;
}

.iconfont.icon-school-kb-web.selected {
  color: #33A3F4;
}