.loading-status {
  text-align: center;
  font-size: 18px;
  position: fixed;
  top: 45%;
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
}

.course-table {
  border: 1px solid rgb(219, 219, 219);
  border-collapse: collapse;
  width: 100%;
}

.course-table-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #f2f6f7;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
}

.course-table-head th {
  font-weight: normal;
}

.course-table-left-side {
  background-color: #f2f6f7;
  width: 37px;
  font-size: 10px;
  font-weight: normal;
}

.course-table-line {
  height: 100px;
  border-bottom: 1px dashed rgb(219, 219, 219);
}

